<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ChatRoom</title>
  <script>
    async function logout() {
      const response = await fetch("/user/logout", {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
      });

      response.json().then(data => {
        console.log(data);
        location.replace('/');
      });

    }
    async function send() {
        var message = document.getElementById("message");

        const response = await fetch("/message", {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: `{
                 "message": "` + message.value + `",
                 "user": "test"
                }`,
        });

        response.json().then(data => {
          message.value = '';
          console.log(data);
        });
    }
  </script>
</head>
<body>
  <div id="wrapper">
    <div id="menu">
      <p class="welcome">Welcome, <b></b></p>
      <p class="logout"> <input type="submit" value="logout" class="btn" onClick="logout()" /></td></p>
    </div>

    <div id="chatbox">
      <p>Sweet! So, what do you wanna do today?</p>
      <span class="time-right">11:02</span>
    </div>

    <input name="message" type="text" id="message" />
    <input name="submitmsg" type="submit" id="submitmsg" value="Send" onClick="send()" />

  </div>


</div>

</body>
</html>