<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ChatRoom</title>
  <style>
    html {
      text-align: center;
      font-size: 16px;
    }
    div {
      padding: 1rem;
    }
    #input {
      font-size: 16px;
    }
    p {
      font-size: 16px;
    }
  </style>

</head>
<body>
  <div>
    <h1>ChatRoom</h1>
    <p id="welcome"> </p>
    <p>Available command: /stock=stock_code  </p>
    <p>Example: /stock=aapl.us </p>
    <pre id="output"></pre>
    <input id="input" type="text" size="40" />
    <button onclick="send()">Send</button>

  </div>
</body>

<script>
  var usernameWithQuotes = getCookie('user_name');
  username = usernameWithQuotes.replace(/^"(.*)"$/, '$1');
  document.getElementById("welcome").innerHTML += "Welcome, "+ username;
  var input = document.getElementById("input");
  var socket = new WebSocket("ws://localhost:8010/ws");

  socket.onopen = function () {
    output.innerHTML += "Status: Connected\n";
  };

  socket.onmessage = function (e) {
    const obj = JSON.parse(e.data);
    output.innerHTML += obj.body + "\n";
  };

  function send() {
    socket.send(username + ": "+input.value);
    input.value = "";
  }

  function getCookie(name) {
    function escape(s) { return s.replace(/([.*+?\^$(){}|\[\]\/\\])/g, '\\$1'); }
    var match = document.cookie.match(RegExp('(?:^|;\\s*)' + escape(name) + '=([^;]*)'));
    return match ? match[1] : null;
  }

</script>
</html>