<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ChatRoom</title>
  <style>
    html {
      text-align: center;
      font-size: 16px;
    }
    div {
      padding: 1rem;
    }
    #input {
      font-size: 16px;
    }
    p {
      font-size: 16px;
    }
  </style>

</head>
<body>
  <div>
    <h1>ChatRoom</h1>
    <p id="welcome"> </p>
    <input type="submit" value="admin" class="btn" onClick="admin()"/>
    <input type="submit" value="logout" class="btn" onClick="logout()" />
    <p>Available command: /stock=stock_code (Example: /stock=aapl.us) </p>
    <pre id="output" style="text-align: left"></pre>
    <input id="input" type="text" size="40" />
    <button id="send" onclick="send()">Send</button>

  </div>
</body>

<script>
  var usernameWithQuotes = getCookie('user_name');
  username = usernameWithQuotes.replace(/^"(.*)"$/, '$1');
  document.getElementById("welcome").innerHTML += "Welcome, "+ username;
  var input = document.getElementById("input");
  var sendButton = document.getElementById("send");
  var socket = new WebSocket("ws://localhost:8010/ws");

   socket.onopen = function () {
    output.innerHTML += "Status: Connected\n";
  };

  socket.onmessage = function (e) {
    var lines = output.innerHTML.split("\n");
    if (lines.length > 50) {
      output.innerHTML = output.innerHTML.replaceAll(lines[lines.length - 51]+"\n", '');
    }
    const obj = JSON.parse(e.data);
    output.innerHTML += obj.body + "\n";
  };

  function send() {
    if (input.value.includes("/stock=")){
      var stock = input.value.trim();
      console.log(stock);
      stockResult(stock);
      input.value = "";
    }else{
      socket.send(input.value);
      input.value = "";
    }

  }

  async function stockResult(stock) {
    const response = await fetch("/stock/"+stock, {
      method: 'GET',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
    });

    response.json().then(data => {
      socket.send(data);
    }).catch(function(error) {
      socket.send(error);
    });;
  }

  async function logout() {
    const response = await fetch("/user/logout", {
      method: 'POST',
      headers: {
        'Accept': 'application/json',
        'Content-Type': 'application/json'
      },
    });

    response.json().then(data => {
      location.replace('/');
    });
  }

  function admin() {
      location.replace('/admin');
  }

  function getCookie(name) {
    function escape(s) { return s.replace(/([.*+?\^$(){}|\[\]\/\\])/g, '\\$1'); }
    var match = document.cookie.match(RegExp('(?:^|;\\s*)' + escape(name) + '=([^;]*)'));
    return match ? match[1] : null;
  }

</script>
</html>